{{#if content}}
  <div class="row">
    <div class="col-12 clearfix">
      <h3 class="text__align-center">{{name}} : Brewery</h3>
      <div class="clearfix">
        <div class="col-6">
          <div class="beer-portfolio__details clearfix">
            <p><strong>category: </strong>{{content.id}}</p>
            <p><strong>name:</strong> {{content.name}}</p>
            <p><strong>website:</strong> <a href="{{content.website}}">Click Here</a></p>
            <p><strong>established:</strong> {{content.established}}</p>
            <p><strong>status:</strong> {{content.status}}</p>
          </div>
        </div>
        <div class="col-6">
          <img src="{{content.images.large}}" class="img__responsive">
        </div>
        <div class="col-12 clearfix">
          <div class="beer-portfolio__details-description">
            <p><strong>description:</strong> {{content.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <h1 class="text__align-center">SEARCHING FOR DATA...</h1>
{{/if}}
