{{page-header subTitle=model.name title="ALL ABOUT BREWERY"}}
<div class="space__height-10"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{beer-brewey beerId=model.id name=model.name}}
      {{outlet}}

      <div class="space__height-10"></div>
      <div class="text__align-center">
        {{#link-to "beer" model class="button__general button__general-style3"}}
          back to {{model.name}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="space__height-10"></div>

{{app-footer}}