{{page-header title="BREWERY" subTitle="SOOOOOOOOO COOOOOOOOOOOOOOOL!!!!"}}
<div class="container">
  <div class="row">
    <div class="col-12">
      {{model.id}}
      {{model.name}}
      {{model.description}}
      {{outlet}}
      <hr>
      {{#link-to "beer" model}}
        back to {{model.name}}
      {{/link-to}}
    </div>

  </div>
</div>
{{app-footer}}