{{page-header title="BREWERY" subTitle="SOOOOOOOOO COOOOOOOOOOOOOOOL!!!!"}}
<div class="space__height-10"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{model.id}}
      {{model.name}}
      {{model.description}}
      {{outlet}}
      <div class="space__height-10"></div>
      <div class="text__align-center">
        {{#link-to "beer" model class="button__general button__general-style3"}}
          back to {{model.name}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="space__height-10"></div>
{{app-footer}}